/*
#C98474 peach
#F3D388 yellow
#874C62  plum
#A7D2CB	blue
*/

body{
	background-color: #874C62 !important;
	background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");

}
hr{
	color: black;
	z-index: 1.0;
}

.navbar{
	background-color: #F3D388 !important;
}
.navbar-brand{
	color: #A7D2CB !important;
	font-weight: 1000px;
	text-shadow: 2px 2px grey;
}
.nav-item{
	color: #874C62 !important;
}
.nav-item:hover{
	color: #C98474 !important;
}


.container-fluid{
	background: #A7D2CB;
	background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}
.row{
	width: 100%;
	height: 100%;
}

#top img{
	padding: 5%;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
#top h1{
	padding-top: 5%;
}
#top p {
	padding-top: 10%;
	line-height: 28px;
}

.container{
	background-color: #C98474;
	background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

#skills img{
	display: block;
	margin: auto;
	width: 30%;
	height: 30%;
	padding: 10px;
}

#portfolio{
	padding: 3%;
	margin: 0 auto;
}
#portfolio img{
	border-radius:10px;
	height: 100%;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}
#portfolio p{
	padding: 5px;
}

.port-link{
	padding: 3%;
	color: #874C62;
}
.port-link:hover{
	color: #F3D388;
	text-decoration: none;
}

#contact{
	background-color: #F3D388;
	display: block;
	margin: auto;
	width: 100%;
}
#contact i{
	padding: 2%;

}
#contact a{
	color: #C98474;
}
#contact a:hover{
	color: #874C62;
}






